article {
	background-color: #fff;
	margin: 0 auto;
	word-wrap: break-word;
	border-radius: 5px;
}
article img {
	margin: 0 auto;
	margin-top: 20px;
	display: block;
	max-width: 100%;
}
article .post-title {
	text-align: center;
}
article hr {
	border-color: rgba(79, 122, 171, 0.8);
}
.post-content {
	margin: 20px 0;
}
.post-content p {
	margin: 10px 0;
}
.post-content h2 {
	margin: 10px 0;
	font-weight: 600;
	font-size: 1.1em;
}
.read-more {
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	display: block;
	background-color: #f7f7f7;
}
.read-more-item:not(:last-child) {
	margin-bottom: 10px;
}
.path a, .path small {
	color: grey;
}
.path a:hover {
	text-decoration: underline;
}

