article {
	word-wrap: break-word;
	margin-bottom: 20px;
	background-color: #eeeee0;
	padding: 20px;
	border-radius: 10px;
}
article img {
	margin: 0 auto;
	display: block;
	max-width: 100%;
}
article a {
	color: grey;
}
article a:hover {
	color: #171717;
}
.post-content {
	margin: 20px 0;
}
.post-content p {
	margin: 10px 0;
}
.post-content h2 {
	margin: 10px 0;
	font-weight: 600;
	font-size: 1.1em;
}
.read-more {
	display: none;
}
.read-more-item:not(:last-child) {
	margin-bottom: 10px;
}
@media screen and (max-width: 1100px) {
	.read-more {
		display: block;
	}
}