aside {
	float: left;
	margin-left: 5%;
	width: 20%;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
}
aside a:not(:last-child), .additional a:not(:last-child) {
	display: block;
	margin-bottom: 10px;
}
aside hr, .additional hr {
	margin-bottom: 10px;
}
form label {
	margin-right: 5px;
}
table td {
	padding-right: 10px;
}
.manage-options {
	margin: 10px 0 0 20px;
}
.select-options {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
