form {
	display: flex;
	flex-direction: column;
}
#title {
	margin-bottom: 20px;
}
#post-text {
	width: 100%;
	resize: none;
	margin-bottom: 20px;
	min-height: 60vh;
}
#create-post-button {
	margin: 10px 0;
}
#mode {
	display: none;
}
.toolbar button {
	font-size: 1em;
	border: 0;
	background-color: rgba(1, 1, 1, 0);
	margin-right: 5px;
	cursor: pointer;
}
