form {
	display: flex;
	flex-direction: column;
}
#title {
	margin-bottom: 20px;
}
#post-text {
	width: 100%;
	resize: none;
	margin-bottom: 20px;
	min-height: 60vh;
}
#category-description {
	resize: none;
}
#create-post-button {
	margin: 10px 0;
}
#mode {
	display: none;
}
.toolbar button {
	font-size: 1em;
	border: 0;
	background-color: rgba(1, 1, 1, 0);
	margin-right: 5px;
	cursor: pointer;
}
.post-preview {
	width: 100%;
}
.post-content {
	margin: 0;
	width: 100%;
}
.toptoolmenu a {
	display: block;
}
.versions {
	width: 100%;
	height: 200px;
	overflow: auto;
	margin-bottom: 10px;
}
.versions a {
	display: block;
	cursor: pointer;
}
.current_link {
	color: red;
}
.current_link:hover {
	color: red;
}
