.category-container {
	text-align: center;
}
.category-item {
	vertical-align: top;
	word-wrap: break-word;
	display: inline-block;
	width: 300px;
	min-height: 300px;
	padding: 0 5px 0 5px;
}
.cat-title {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 10px;
}
.cat-description {
	text-align: center;
}
form, .about-project {
	text-align: center;
}
.search-input {
	width: 40vw;
}
.subtitle {
	text-align: center;
	margin: 20px 0;
	font-size: 1.5em;
}
@media screen and (max-width: 768px) {
	.search-input {
		width: 60%;
	}
}
@media screen and (max-width: 480px) {
	.category-item {
		width: 100%;
		margin: 10px 0;
	}
}