* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #171717;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	background-color: #f2f3f8;
}
a {
	text-decoration: none;
}
a:hover {
	color: rgba(79, 122, 171, 1);
}
.current-page, .current_link {
	color: rgba(79, 122, 171, 1);
}
section {
	overflow: auto;
	max-width: 100%;
	padding: 20px;
	margin: 0 5%;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 5px;
}
.side-section {
	width: 65%; 
	float: left;
}
.wrapper {
	display: flex;
	flex-direction: column;
}
.container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
input, textarea {
	border-radius: 5px;
	border: 1px solid rgba(79, 122, 171, 0.9);
	padding: 5px;
	font-size: 0.9em;
	max-width: 100%;
}
select {
	margin-top: 5px;
	border-radius: 5px;
}
input:focus, textarea:focus, select:focus, button:focus {
	outline: none;
}
.category-box, .delete-option {
	background-color: lightgrey;
	border: 1px solid #171717;
}
.page_subtitle span {
	font-size: 1.2em;
	font-weight: bold;
}
.centered-page-subtitle span {
	font-size: 1.2em;
}
.centered-page-subtitle {
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	font-size: 1.2em;
	background-color: #eeeee0;
	border-radius: 10px;
	min-height: 10vh;
}
.header-subtitle {
	width: 100%;
	background-color: #f7f7f7;
	text-align: center;
	vertical-align: middle;
	padding: 40px 0;
	margin: 40px 0;
	font-size: 1.5rem;
}
.page_subtitle, .centered-page-subtitle {
	margin-bottom: 20px;
}
button {
	cursor: pointer;	
}
.button-link {
	font-size: 0.8em;
	display: inline-block;
	color: #171717;
	margin-top: 10px;
	padding: 2px 6px 2px 6px;
	border: 1px solid #171717;
	border-radius: 5px;
}
.button-link:hover {
	color: #171717;
	background-color: #eee;
}
.send-button {
	color: #2a5885;
	margin-top: 10px;
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
	border: 2px solid rgba(79, 122, 171, 1);
	background-color: transparent;
}
.send-button:hover {
	background-color: rgba(79, 122, 171, 0.2);
	border: 2px solid rgba(79, 122, 171, 1);
}
.inform-link {
	color: #6699ff;
}
.inform-link:hover {
	color: #3366ff;
}
.disabled {
	display: none;
}
.additional {
	padding: 20px;
	display: none;
	background-color: #fff;
	border-radius: 5px;
}
.point-image {
	width: 200px;
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	
}
@media (max-width: 768px) {
	aside {
		display: none;
	}
	.additional {
		display: block;
		width: 90%;
		margin: 40px 5% 40px 5%;
	}
	.side-section {
		float: none;
		width: 90%; 
	}
}
@media screen and (max-width: 1100px) {
	.content {
		width: 90%;
		margin-right: 5%;
	}
	.wrapper {
		width: 90%;
		margin-right: 5%;
	}
	.toptoolmenu {
		display: block;
	}
}
@media (min-width: 576px) {
	.container {
	    max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container{
	    max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
    	max-width: 960px;
    }
}
