.post-info {
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.post-title {
	display: inline-block;
	font-size: 24px;
	margin-bottom: 5px;
}
.categories a {
	display: inline-block;
	color: grey;
}
.categories a:hover {
	color: #171717;
}
.post-meta small, .post-meta a {
	display: inline-block;
	color: grey;
	margin-top: 5px;
}
.post-meta a:hover {
	color: #171717;
}
.likes, .dislikes, .views {
	margin-right: 10px;
}
.track button {
	font-size: 1em;
	outline: none;
	cursor: pointer;
	border: 0;
	background-color: transparent;
}
.track button:hover {
	color: grey;
}
@media screen and (max-width: 768px) {
	.post-title {
        font-weight: bolder;
    }
}
