nav {
  display: flex;
  justify-content: center;
  background-color: #222;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  border-bottom: 1px solid #fff;
}

nav ul {
  list-style: none;
}

.submenu {
  display: none;
  position: absolute;  
  background-color: #222;
}

.submenu > li {
  margin: 1em 0;
}

.topmenu > li {
  display: inline-block;
}

.topmenu > li:last-of-type {
  display: none;
}

.topmenu > li:hover .submenu {
  display: block;
}

@media (max-width: 768px) {
  nav {
    justify-content: flex-end;
  }

  nav ul li:not(:last-child) {
    display: none;
  }

  .topmenu > li:last-of-type {
    display: block;
  }
}