.articles-previews {
	padding: 30px 20px 0 0;
	display: flex;
	flex-wrap: wrap;
}
.article-preview {
	padding: 0 0 30px 20px;
	flex: 1 0 100%;
    max-width: 100%;
}
.image-container {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    border-radius: 5px;
}
.image-container:before{
    content: "";
    display: block;
    padding-top: 60%;
}
@media screen and (min-width: 580px) {
	.article-preview {
		flex: 1 0 50%;
    	max-width: 50%;
	}
}
@media screen and (min-width: 768px) {
	.article-preview {
		flex: 1 0 33.333333%;
    	max-width: 33.333333%;
	}
}
@media screen and (min-width: 992px) {
	.article-preview {
		flex: 1 0 25%;
    	max-width: 25%;
	}
}