Options -MultiViews
RewriteEngine On

RewriteBase /blog/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

php_value upload_max_filesize 15M
php_value post_max_size 15M